<%= form_for([:admin, @ticket, @ticket.comments.build]) do |f| %>
  <tr>
    <td><%= f.label :description, "Comment" %></td>
    <td><%= f.text_area :description %></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= f.submit "Add update" %>
      <%= f.submit "Close ticket", :name => "_close" %>
    </td>
  </tr>
<% end %>
